@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  padding: 0;
  margin: 0;
}

.app{
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  font-family: 'Lato', sans-serif;
}